.registro__form {
    background-color: brown;
    display: flex;
    justify-content: center;

}

.registro__form--hola {
background-color: black;
display:inline-grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;

width: 600px;



}


.registro__form--buttimg {
background-color: aqua;
text-align: left;
width: auto;
margin: 0%;
padding: 0%;
height: auto;


}


.registro__form--tilte {
    background-color: blue;


}

body {
    
    
}

img {
    background-color: brown;
    width: 50px;
    padding: 20px;
    
}
