:root {

  --bgrad--body--color: rgba(255, 195, 62, 255);
  --bgrad--boton--color: #3f3719;
  --bgrad--color--blanco:rgba(255, 255, 255, 255) ;
  --bgrad--color--marron:#3d351e ;
  --border--radius: 30px;
  --border--solid: 4px;
  --font--familiy--SUdtitulos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}

body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--bgrad--body--color);
  


}


form {
  display: grid;
  padding: 30PX;
 justify-content: center;

  
}



.botones {
 
  display: grid;
  justify-content: center;
  gap: 30px;
  
  
  
}

button {
  
  background: none;
  border-radius: 12px;
  height: 38px;
  width: 230px;
  background-color: var(--bgrad--boton--color);
  color: var(--bgrad--color--blanco);

}


main {
  display: flex;
  justify-content: center;
  text-align: center;
}

section {
  
  border-radius: 30px;
  width: 550px;
  height:480px;
 
  display: flex;
 
  flex-direction: column;
  justify-content: center;

  background-color: var(--bgrad--color--blanco);

}


input  {
  padding-left: 30px;
  border: solid 0.5 ;
  border-radius: 12px;
  margin: 15px;
  width: 240px;
  height: 35px;
  max-width: 380px;
  border-color: rgb(47, 44, 44);
  
  

}

label {
  
  font-family: var(--font--familiy--SUdtitulos) ;
}

header {
  display: flex;
  justify-content: center;
 
}

img {
  
  width: 40%;
  height: 30%;

}

.botones__Ingresar {
  background-color: var(--bgrad--boton--color);
  border-radius: 12px;
  height: 38px;
  width: 230px;
  text-align: center;
  color: aliceblue;
  text-decoration: none;



}

